<div class="col-md-12 text-center">
    <div class="card" id="login-card-front"> 
        <img class="receipt" src="assets/receipt.png" alt="receipt">
        <h1 class="decorative">Issue Quick Receipt</h1>
    </div>
    <div class="card" id="login-card-back"> 
        <img class="receipt" src="assets/receipt.png" alt="receipt">
        <h1 class="decorative">Issue Quick Receipt</h1>
    </div>
</div> 

