
    <div class="col-lg-10 mb-10">
        <div class="card flip-card">
            <div class="flip-card-front text-center" id="start">
                     <img class="receipt" src="assets/receipt.png" alt="receipt">
                     <h3 class="card-title decorative" id="start">Issue Quick Receipt</h3>
            </div>
            <div class="flip-card-back" id="js-flip">
                <div class="flip-card-inner text-center">
                    <button type="button" class="btn btn-outline-light btn-lg" id="start-button">Start</button>
                </div>
            </div>
        </div>
    </div>







