<div class="col-md-12 text-center">
    <img class="receipt" src="assets/receipt.png" alt="receipt">
    <h1 class="decorative">Issue Quick Receipt</h1>

    <hr class="line">
    <img class="receipt" src="assets/receipt.png" alt="receipt">
    <%= render "devise/registrations/form" %>
    <h1 class="decorative">Sign In or Register to access all features</h1>
</div>

