
    <div class="col-lg-10 mb-10 card">
        <%#---Receipt start---%>
        <div class="text-center">
            <a href='/' id="reset" class="hidden" style="float: right;">Reset</a>
            <a href='/' id="create_new" class="hidden" style="float: right; margin-right: 10px">Create New</a>
            
            <img class="receipt img-responsive" src="assets/receipt.png" id="start" alt="receipt">
        </div> 

        <div id="org-search-form"></div>
    </div>    
        

        <div class="col-lg-10 mb-10 hidden" id="card-results">
            <div id="search-results" class="table hidden"></div>
            <div id="receipts-results" class="table hidden"></div>
        </div>
   







