
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= style
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Shadows+Into+Light&display=swap');

body {
    font-size: 13px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #333;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.decorative {
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
    color: #333;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------------------------
[2.Input & Labels ]
*/
.formLabel {
    display: block;
    color: #000;
    position: absolute;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
    transition: all .2s
}
.formLabel.active {
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
    font-size: 20px;
}
.formInput {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0,0,0, 0.7);
    font-size: 32px;
    width: 95%;
    color: #FFF;
    display: block;
}
.formInput:focus {
    outline: none;
    border-bottom: 2px solid #FFF;
    -webkit-transition: border-bottom .5s;
    -moz-transition: border-bottom .5s;
    -ms-transition: border-bottom .5s;
    -o-transition: border-bottom .5s;
    transition: border-bottom .5s;
}
.formInput.input-error {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}
.help-error {
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 10px 0;
    display: none;
    text-align: right;
}
.help-error i {
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
    float: right;
    margin-left: 20px;
}
.help-info {
    text-align: right;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    padding: 10px 0;
}


/*------------------------------------------------------------------
[3. Buttons ]
*/
.btn {
    font-weight: 700;
    font-size: 15px;
}
.btn-rounded {
    border-radius: 30px;
}
.btn-black {
    background: rgb(240, 8, 143);
    color: rgb(255, 255, 255);
    margin-right: 50px;
    padding: 10px 30px !important;
}
.btn-black:hover {
    background: #EEE;
    color: rgb(10, 98, 121);
}
.btn-black-transparent {
    border: 2px solid #000;
    background: none;
    color: #000;
    padding: 10px 30px !important;
}
.btn-black-transparent:hover {
    background: #ccc;
    color: #777;
}


/*------------------------------------------------------------------
[4. Loader / .marz-loader-container]
*/
.marz-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #FFF;
    z-index: 1000;
}
.marz-loader {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


/*------------------------------------------------------------------
[5. Signup Container / .marz-signup-container]
*/
.marz-signup-container {
    display: none;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background: url("techbackground.jpg");
}
.marz-signup-container:after {
    z-index: -1;
    position: absolute;
    height: 2000px;
    display: block;
    content: '';
    top: 0;
    right: 0;
    width: 70%;
    background: #fff;
}

/*------------------------------------------------------------------
[5.1 Left Panel / .marz-signup-left]
*/
.marz-signup-left {
    padding: 60px 30px 30px;
    background-image: image-url("techbackground.jpg") no-repeat fixed center;
}
.marz-signup-left p {
    font-size: 18px;
    line-height: 30px;
    color: #999;
}
.marz-trial {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    font-weight: bold;
}

/*------------------------------------------------------------------
[5.1.1. Logo / .marz-signup-logo]
*/
.marz-signup-logo {
    width: 100%;
    margin-bottom: 20px;
}

/*------------------------------------------------------------------
[5.1.2. Testimonial Slider / .marz-slider-container]
*/
.bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
}
.marz-signup-testimonial {
    margin-top: 60px;
    height: 300px;
}
.marz-signup-testimonial:after {
    clear: both;
    content: '';
    display: block;
}
.marz-signup-testimonial img {
    height: 60px;
    float: right;
}
.marz-signup-testimonial b {
    font-size: 16px;
    color: #999;
    display: block;
    margin-top: 20px;
}
.marz-signup-testimonial b span {
    font-size: 14px;
    color: #CCC;
    display: block;
    font-weight: normal;
    margin-top: 3px;
}
.marz-signup-testimonial i {
    font-size: 30px;
}
.marz-signup-testimonial p {
    color: #666;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}

/*------------------------------------------------------------------
[5.2. Right Panel / .marz-signup-right]
*/
.marz-signup-right {
    color: #000;
    background: #fff;
    position: relative;
    overflow-y: auto;
    padding: 60px 30px 0 0
}

/*------------------------------------------------------------------
[5.2.1 Steps Counts / .steps-count]
*/
.steps-count {
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

/*------------------------------------------------------------------
[5.2.2 Steps / .marz-steps]
*/
.marz-steps .step {
    padding-left: 60px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -80px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
.step.step-active {
    transform: none;
    visibility: visible;
    opacity: 1;
}
.step-hide {
    -webkit-transform: translateY(-50px) !important;
    transform: translateY(-50px) !important;
}
.marz-steps .step-confirm {
    position: initial;
    top: initial;
    margin-top: 0;
    padding-top: 30px;
    overflow-x: hidden;
    display: none;
}
.marz-steps .step-confirm.step-active {
    display: block;
}
.step-label { 
    font-size:40px; 
    margin-bottom:20px; 
    font-weight:300; 
    font-size:32px; 
}

.marz-steps .checkbox-inline, .marz-steps .radio-inline{
    font-size:16px; 
    font-weight:300;
    padding-left:25px;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom:10px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline { 
    margin-left:0;
}


/*------------------------------------------------------------------
[5.2.3 Buttons / .button-container]
*/
.button-container {
    position: absolute;
    bottom: 100px;
    right: 0;
    text-align: right;
    width: 100%;
}
.button-container>div {
    display: inline-block;
    text-align: center;
    float: right;
    margin-left: 10px;
}
.button-container>div a {
    margin-bottom: 10px;
    display: block;
}
.prevStep {
    outline: none;
    display: none;
}
.button-container a,
.button-container a:hover,
.button-container a:focus,
.button-container a:active,
.button-container a:active:focus {
    outline: none;
}

/*------------------------------------------------------------------
[6. Animations]
*/

.marz_loading {
  width: 60px;
  height: 60px;
  margin:auto;
  margin-bottom:20px;
  display:block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animateInput {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes animateInput {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}



/*------------------------------------------------------------------
[8. Responsive Styles]
*/

@media only screen and (max-width: 990px) {
    .marz-signup-left {
        padding: 60px 15px 30px
    }
    
    .marz-signup-testimonial { 
        height:360px;  
    }
}
    
@media only screen and (max-width: 760px) {
    .container{
        width:100%;
    }
    
    .marz-signup-container:after {
        display: none;
    }
    .marz-signup-left {
        padding: 15px;
    }
    .marz-signup-left hr {
        display: none;
    }
    .marz-signup-right {
        min-height: 400px;
        padding: 15px 0;
    }
    .marz-steps .step {
        padding: 0 15px;
    }
    .steps-count,
    .button-container {
        padding-right: 15px;
    }
    .step-confirm .form-group {
        margin-bottom: 0;
        padding: 10px 0;
    }
    .step-confirm .control-label {
        font-size: 16px;
    }
    .step-confirm input,.step-confirm .bootstrap-select button {
        padding: 6px 15px;
        font-size: 16px;
    }
    
    .button-container { bottom:15px; }
    
    .formLabel,
    .formInput,.step-label {
        font-size: 20px;
    }
}

/*------------------------------------------------------------------
[9. BootStrap Select]
*/
.bootstrap-select.form-control {
    background:none;
    border-radius: 0;
    box-shadow:none;
    height:auto;
}

.bootstrap-select button { 
    border:none;
    background:none;
    color:#FFF;
    border-bottom:2px solid #FFF;
    border-radius: 0;
    box-shadow:none;
    outline: none !important;
    font-size:16px;
    font-weight:300;
}

.bootstrap-select .btn-default:hover, .bootstrap-select.open>.dropdown-toggle.btn-default:hover {
    background:none;
    border-color:#FFF;
    color:#FFF;
    box-shadow:none !important;
}

.btn-group.open .dropdown-toggle
{
    box-shadow: none;
}

.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select.open>.dropdown-toggle.btn-default,
.bootstrap-select .btn-default.focus, 
.bootstrap-select  .btn-default:focus{
    background:none;
    outline:none !important;
    border-color:#FFF;
    color:#FFF;
}

.bootstrap-select .dropdown-menu {
    box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color:#FFF;
    border-radius:0;
}

.bootstrap-select .dropdown-menu a:focus { 
    outline: none; 
}

.bootstrap-select.btn-group .dropdown-menu li a {
    padding:6px 20px;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a {
    color:#FFF;
    background:#000;
}

.marz-button {
    background-color:  rgb(240, 8, 143);
    color: #fff;
}

/* Receipt Image */

.receipt {
    width: 400px;
    height: auto;
    margin: auto;
}

/* Card Styling */

.card {
    margin-top: 100px;
    margin-left: 25px;
    padding: 50px;
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 0 1px 6px rgba(255, 18, 164, 0.12), 0 1px 4px rgba(138, 4, 104, 0.24);
    border: none;
}


/* ----------------------------------------------------------------
	Flip Cards
-----------------------------------------------------------------*/

.flip-card {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
	background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
	-webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	color: #FFF;
	font-size: 1.5rem;
}

.flip-card-back { background-color: rgb(240, 8, 143); }

.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip-card-front.no-after:after,
.flip-card-back.no-after:after { content: none }

.flip-card-front:after,
.flip-card-back:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 6px;
}

.flip-card:hover .flip-card-front,
.flip-card:hover .flip-card-back {
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
	-webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.flip-card-inner {
	-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
	transform: translateY(-50%) translateZ(60px) scale(0.94);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 1px solid transparent;
	-webkit-perspective: inherit;
	perspective: inherit;
	z-index: 2;
}

.flip-card-back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card:hover .flip-card-back {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.flip-card-inner span {
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
}

.flip-card-inner p {
	position: relative;
	font-size: 16px;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.7);
}

.owl-carousel .owl-stage { padding: 20px 0; }

#start-button {
    color:rgb(240, 8, 143);
    font-size: 24px;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.show {
    display: visible;
}

.org-search-form {
    animation-name: animateInput;
    animation-duration: 1s;
}